* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset all value */

nav{
    display: flex;
    /* connect block element */
    justify-content: space-between;
    /* left-right side text */
    /* border: 1px solid red; this is line shape menu bar*/
    padding: 10px;
    background-color: #ec8f5e;
}
nav img{
    width: 3%;
}

.logo a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    /* make bold text */
}

.menu {
    display: flex;
    /* connect block element */
    list-style: none;
    /* remove list menu dot*/
    padding-right: 25px;
}

.menu li{
    margin-left: 10px;
    padding-top: 5px;

}

.menu li a{
    text-decoration: none;
    /* remove underline menu*/
    color: #ffffff;
    /* color menu text */
    font-size: 20px;
}

.mid {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

.bb h1{
    padding: 1%;
    background-color: #6e6e6e;
    color: #ffffff;
    text-align: center;
}

.bb p{
    padding: 1%;
    color: #ffffff;
}

.rig {
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.banner {
    background-color: #F3B664; 
    color: white;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 3%;
    margin: 20px;
    /* justify-content: center;
    align-items: center; */
    /* arrange all item to center */
}

.banner-info{
    text-align: center;
    padding-top: 50px;
    /* arrange text to center */
}

.banner-info1{
    text-align: left;
    padding-top: 50px;
    padding-right: 20px;
    font-size: 120%;
    padding-bottom: 30px;
    /* arrange text to center */
}

.banner-info1 h1{
    padding: 1%;
    background-color: #e47a41;
    text-align: center;
}

.banner-info img {
    width: 50%;
    border-radius: 100%;
    padding-bottom: 40px;
    /* circle shape image */
}
/* image in banner */

main{
    margin: 20px;
    background-color: #a7a3a3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 50px;
    border-radius: 3%;
}

main div {
    padding: 20px;
    text-decoration: none;
}

main div p{
    margin-top: 10px;
    font-size: 20px;
}

main img {
    width: 50%;
    border-radius: 10px;
}

.active{
    background-color: #F3B664;
    padding-left: 10px;
    padding-right: 10px;
}

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  li a:hover {
    background-color: #eca37b;
    float: left;
    padding: 6px;
    color: black;
  }
